@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pr-bg: #e5e5e5;
    --pr-dark: #1B191C;
    --pr-yellow: #F8D231;
    --pr-player: #CFD3D6;
}

body{
    background: var(--pr-bg);
}
